* {
    box-sizing: border-box;
  }
  
  a {
    cursor: pointer;
  }
  
/* .body {

} */

  .page {
    min-width: 320px;
    color: white;
    font-family: "Satoshi", Helvetica, Arial, sans-serif;
  }

  .page__content {
    margin: 0 auto;
    padding: 0 10px;
  }

 