* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
  opacity: 0.8;
}

.body {
  background-color: #d2b48c;
}

.page {
  min-width: 320px;
  font-family: "Satoshi", Helvetica, Arial, sans-serif;
}

.page__content {
  z-index: -1;
  margin: 0 auto;
  /* background-color: white; */
}

.header {
  display: flex;
  background-color: white;
  min-height: 70px;
  align-items: center;
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 30px 50px;
}

.header__list {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.list__item {
  list-style: none;
  margin-left: 15px;
}

.banner {
  background: url(../images/banner_pic.jpg) no-repeat center;
  height: 200px;
  margin: 0 auto;
}

.catalog {
  border: 1px solid black;
  padding: 30px 50px;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  */

  display: grid;
  grid-gap: 10px;
  grid-template-columns: 4;
  grid-template-rows: 4;

}

.catalog__card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  max-height: 230px;
  width: 170px;
  overflow: hidden;
  position: relative;
  padding: 0 10px;
}

.card__img-container {
  height: 170px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;

}

.card__img {
  background-image: url(../images/large_укреп_маск.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  width: 130px;
  margin: 0;
  
}

.card__text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card__icon {
  background-image: url(../images/4601551.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 35px;
  height: 35px;
}

.card__icon:hover {
  cursor: pointer;
  opacity: 0.8;
}


.card__selected {
  background-image: url(../images/favorite.png);
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 35px;
  height: 35px;
  position: absolute;
  top: -5px;
  right: 5px;
}

.card__selected:hover {
  cursor: pointer;
  opacity: 0.8;
}

.card__description{
  margin: 0;
}